.follow-youtube{
    padding:20px 40px;
    border-radius:4px;
    display:flex;
    align-items:center;
    background:#FF0000
}
.follow-youtube i{
    font-size:45px;
    color:#fff;
    margin-right:50px;
    position:relative;
    z-index:1
}
.follow-youtube i::after{
    content:"";
    width:60px;
    height:60px;
    background-color:rgba(255,255,255,.1);
    position:absolute;
    bottom:-10px;
    right:-20px;
    border-radius:50%;
    z-index:-1
}
.follow-youtube .title{
    font-size:20px;
    font-weight:500;
    color:#fff
}
.follow-youtube p{
    font-size:16px;
    line-height:1.5;
    color:rgba(255,255,255,.7);
    margin-bottom:0;
    margin-top:3px
}
.follow-youtube a{
    display:inline-flex;
    height:40px;
    border-radius:4px;
    background:#fff;
    align-items:center;
    padding:0 25px;
    color:#222;
    margin-top:15px
}